.card
  padding: ds.rem(79) ds.rem(25) ds.rem(25)
  min-height: 100dvh
  background: url(/images/home.webp) fixed no-repeat 50% 50%/cover
  position: relative

  +ds.mq(minLarge)
    display: flex
    justify-content: center
    align-items: center
    padding: ds.rem(104) ds.rem(50) ds.rem(50)

  .container
    animation: card 1s cubic-bezier(.4,0,.2,1)

    +ds.mq(maxMedium)
      position: relative
      height: calc(100vh - ds.rem(104))

    +ds.mq(minLarge)
      display: flex
      justify-items: center

    .content
      +ds.mq(maxMedium)
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        padding: 0 ds.rem(52)
        width: 100%
        max-width: ds.rem(474)

      +ds.mq(minLarge)
        display: flex
        justify-items: center
        gap: ds.rem(77)

      .pager
        +ds.mq(maxMedium)
          position: absolute
          top: 50%
          transform: translateY(-50%)

          &:nth-of-type(1)
            left: 0

          &:nth-of-type(3)
            right: 0

        +ds.mq(minLarge)
          display: flex
          justify-content: center
          align-items: center
          +ds.coln

        a
          display: flex
          justify-content: center
          align-items: center
          border-radius: ds.rem(5)
          width: ds.rem(80)
          height: ds.rem(80)
          background-color: ds.$rgba-black20
          backdrop-filter: blur(ds.rem(20))

          +ds.mq(maxMedium)
            width: ds.rem(40)
            height: ds.rem(40)

            svg
              width: ds.rem(25)
              height: ds.rem(25)

          span
            +ds.screen-reader-only

          path
            fill: ds.$hex-groomysky

      .item
        user-select: none
        position: relative

        +ds.mq(maxMedium)
          width: 100%
          max-width: ds.rem(370)
          aspect-ratio: 370 / 584

        +ds.mq(minLarge)
          +ds.coln
          width: ds.rem(370)
          height: ds.rem(584)

        .item-front, .item-back
          position: absolute
          top: 0
          left: 0
          display: flex
          justify-content: space-between
          flex-direction: column
          transition: transform .5s cubic-bezier(.4,0,.2,1)
          backface-visibility: hidden
          backdrop-filter: blur(ds.rem(20))
          background-color: ds.$rgba-black70
          border-radius: ds.rem(20)
          padding: ds.rem(17)
          width: 100%
          height: 100%

          +ds.mq(minLarge)
            padding: ds.rem(27)
            width: ds.rem(370)
            height: ds.rem(584)

          &.active
            z-index: 1

        .item-front
          &:not(.active)
            transform: perspective(600px) rotateY(-180deg)

          .logo-img i
            display: block

        .item-back
          transform: rotateY(180deg)

          &.active
            transform: perspective(600px) rotateY(0deg)

          header
            display: flex
            flex-direction: column
            gap: ds.rem(7)

            .primary
              display: flex
              gap: ds.rem(7)

            .secondary
              font-size: ds.rem(14)
              font-weight: 100
              color: ds.$rgba-white70

              +ds.mq(minLarge)
                font-size: ds.rem(16)

          .logo-img i
            display: block

          footer
            display: flex
            flex-direction: column-reverse
            gap: ds.rem(7)
            opacity: 1

            .primary
              opacity: .5

            .secondary
              opacity: .7
              font-size: ds.rem(12)
              font-weight: 100
              color: ds.$hex-white

              +ds.mq(minLarge)
                font-size: ds.rem(14)

        header
          display: flex
          gap: ds.rem(7)
          font-size: ds.rem(16)
          line-height: 1

          +ds.mq(minLarge)
            font-ize: ds.rem(24)

          span
            font-weight: 100
            color: ds.$hex-dayrise

          strong
            font-weight: 900
            color: ds.$hex-rise

        .logo
          display: flex
          flex-direction: column
          align-items: center
          gap: ds.rem(23)

          .logo-img
            display: flex
            justify-content: center
            align-items: center

            +ds.mq(maxMedium)
              aspect-ratio: 1 / 1
              width: 100%
              max-width: ds.rem(180)

            +ds.mq(minLarge)
              width: ds.rem(180)
              height: ds.rem(180)

          .logo-btn
            display: flex
            justify-content: center

            button
              background-color: transparent
              display: inline-flex
              align-items: center
              gap: ds.rem(5)
              border-radius: ds.rem(20)
              border: 1px solid ds.$hex-accent
              padding: 0 ds.rem(25)
              height: ds.rem(30)

              span
                font-size: ds.rem(14)
                line-height: 1
                color: ds.$rgba-white70

              svg
                width: ds.rem(14)
                height: ds.rem(14)

        footer
          opacity: .5
          font-size: ds.rem(14)
          text-align: right
          color: ds.$hex-white
          line-height: 1

          +ds.mq(minLarge)
            font-size: ds.rem(16)

@keyframes card
  0%
    opacity: 0

  100%
    opacity: 1
