*, ::before, ::after
  box-sizing: border-box

\::selection
  background-color: rgba(ds.$hex-white, .7)
  color: ds.$hex-black

html
  font-size: 16px

body
  margin: 0
  font-size: 16px
  word-break: keep-all
  -webkit-text-size-adjust: none
  transition: all .4s cubic-bezier(.4,0,.2,1)

body, pre, input, button, textarea, select
  font-family: Pretendard, sans-serif
  font-size: 1rem
  font-weight: 400
  text-size-adjust: 100%
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 0

img
  display: block
  overflow: hidden
  user-select: none
  -webkit-user-drag: none
  +ds.image-rendering

a
  text-decoration: none
  -webkit-tap-highlight-color: rgba(255,255,255,.10)

  &:focus
    outline: 0

fieldset
  margin: 0
  padding: 0

legend
  position: absolute
  overflow: hidden
  margin: 0
  width: 1px
  height: 1px
  clip: rect(1px, 1px, 1px, 1px)

label
  cursor: pointer

img, fieldset
  border: 0

p, ul, dl, pre
  margin-top: 0
  margin-bottom: 0

ul, ol
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  list-style-type: none

dd
  margin-left: 0

button
  cursor: pointer
  border: 0
  padding: 0

figure
  margin: 0

address, cite
  font-style: normal

iframe
  display: block

.sr-only, hr, .seo
  @include ds.screen-reader-only

.sr-only:focus
  @include ds.visually-hidden-focusable
  background-color: ds.$hex-white
  padding: ds.rem(5) ds.rem(7)
  font-size: ds.rem(20)
  font-weight: 900
  color: ds.$hex-accent

#__next > header
  @media print
    display: none!important

.scroll-button
  background-color: ds.$rgba-black20
  backdrop-filter: blur(ds.rem(20))
  position: absolute
  bottom: 0
  left: 0
  padding: 0
  width: 100%
  height: ds.rem(50)

  +ds.mq(minLarge)
    height: ds.rem(75)

  span
    +ds.screen-reader-only

  svg
    width: ds.rem(25)
    height: ds.rem(25)
    animation: button 1.7s cubic-bezier(.4,0,.2,1) infinite

    +ds.mq(minLarge)
      width: ds.rem(50)
      height: ds.rem(50)

    path
      fill: #E5C3C3

@keyframes button
  0%
    transform: translateY(ds.rem(-5))

  7%
    transform: translateY(ds.rem(-5))

  50%
    transform: translateY(ds.rem(5))

  97%
    transform: translateY(ds.rem(-5))

  100%
    transform: translateY(ds.rem(-5))
