.main
  display: flex
  flex-direction: column
  gap: ds.rem(23)
  padding: ds.rem(79) ds.rem(25)
  min-height: 100dvh
  position: relative
  background: url(/images/summary.webp) fixed no-repeat 50% 50%/cover

  +ds.mq(minLarge)
    padding: ds.rem(104) ds.rem(50) ds.rem(50)

  h1
    font-size: ds.rem(27)
    font-weight: 900

    +ds.mq(minLarge)
      font-size: ds.rem(38)

  .jasope
    display: flex
    flex-direction: column
    flex-grow: 1
    justify-content: center

  article
    display: flex
    gap: ds.rem(32)

    +ds.mq(maxSmall)
      flex-direction: column
      align-items: center

    +ds.mq(minMedium)
      justify-content: center

    .thumbnail
      overflow: hidden
      position: relative
      border-radius: ds.rem(170)
      width: ds.rem(170)
      height: ds.rem(170)

      +ds.mq(minMedium)
        border-radius: ds.rem(270)
        width: ds.rem(270)
        height: ds.rem(270)

      p
        display: flex
        align-items: center
        justify-content: center
        width: ds.rem(270)
        height: ds.rem(270)
        font-size: ds.rem(16)
        font-weight: 700

      img
        width: 100%
        height: 100%

        &:not(.loading)
          position: absolute
          top: 0
          left: 0
          z-index: 7
          transition: all 3s cubic-bezier(.4,0,.2,1)

          &.isLoading
            opacity: 0

    .info
      display: flex
      flex-direction: column
      gap: ds.rem(25)
      background-color: ds.$rgba-white70
      backdrop-filter: blur(ds.rem(20))
      border-radius: ds.rem(20)
      padding: ds.rem(17)

      +ds.mq(maxSmall)
        width: 100%

      .privacy
        display: flex
        flex-direction: column

        dl
          dd
            font-size: ds.rem(18)

            +ds.mq(maxSmall)
              font-size: ds.rem(16)

      cite
        display: flex
        align-items: flex-end
        gap: ds.rem(7)

        strong, span
          line-height: 1

        strong
          font-size: ds.rem(27)
          font-weight: 900
          color: ds.$rgba-black70

          +ds.mq(minMedium)
            font-size: ds.rem(37)

        span
          font-size: ds.rem(18)
          font-weight: 500

      dl
        display: flex
        flex-direction: column
        gap: ds.rem(12)

        .general
          display: flex
          flex-direction: column

          dd
            &:nth-of-type(1)
              font-size: ds.rem(18)
              font-weight: 600

              +ds.mq(maxSmall)
                letter-spacing: -.02em

              +ds.mq(minMedium)
                font-size: ds.rem(23)

            &:nth-of-type(2)
              font-size: ds.rem(16)
              color: ds.$rgba-black70

              +ds.mq(minMedium)
                font-size: ds.rem(18)

        dt
          +ds.screen-reader-only

        dd
          font-size: ds.rem(20)

          ul
            li
              display: inline-block
              float: left
              padding-left: ds.rem(5)
              font-size: ds.rem(14)
              font-weight: 500

              +ds.mq(minMedium)
                padding-left: ds.rem(10)
                font-size: ds.rem(16)

              &::before
                content: "/"
                padding-right: ds.rem(5)

                +ds.mq(minMedium)
                  padding-right: ds.rem(10)

              &:first-of-type
                padding-left: 0

                &::before
                  display: none

              +ds.mq(maxSmall)
                &:nth-child(3n)
                  clear: left
                  display: block
                  padding-left: 0

                  &::before
                    display: none

              +ds.mq(minMedium)
                &:nth-child(6n)
                  clear: left
                  display: block
                  padding-left: 0

                  &::before
                    display: none

      .one
        display: flex
        justify-content: center
        gap: ds.rem(12)
        margin: ds.rem(4) 0
        font-size: ds.rem(23)
        font-weight: 900
        color: ds.$hex-accent

        &::before, &::after
          font-size: ds.rem(37)
          line-height: 1

        &::before
          content: '“'

        &::after
          content: '”'

.loading
  display: flex
  justify-content: center
  align-items: center
  flex: 1

  span
    +ds.screen-reader-only

  i
    display: block
    width: ds.rem(50)
    height: ds.rem(50)
    border: ds.rem(5) solid transparent
    border-radius: 50%
    animation: spin 4s cubic-bezier(.4,0,.2,1) infinite

@keyframes spin
  0%
    transform: rotate(0deg)
    border-right-color: ds.$hex-dayrise
    border-bottom-color: ds.$hex-dayrise

  25%
    transform: rotate(360deg)
    border: ds.rem(5) solid transparent
    border-bottom-color: ds.$hex-dayrise
    border-left-color: ds.$hex-dayrise

  50%
    transform: rotate(720deg)
    border: ds.rem(5) solid transparent
    border-top-color: ds.$hex-dayrise
    border-left-color: ds.$hex-dayrise

  75%
    transform: rotate(1080deg)
    border: ds.rem(5) solid transparent
    border-top-color: ds.$hex-dayrise
    border-right-color: ds.$hex-dayrise

  100%
    transform: rotate(1440deg)
    border: ds.rem(5) solid transparent
    border-right-color: ds.$hex-dayrise
    border-bottom-color: ds.$hex-dayrise

@keyframes loading
  0%
    opacity: 0

  70.07%
    opacity: 1

  100%
    opacity: 1
