@import './designSystem'

.dev1studio
  background-color: $hex-black
  display: flex
  justify-content: center
  align-items: center
  position: relative
  overflow: hidden
  width: 100%
  height: 100dvh

  &::before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: .3
    background: url(/images/dev1studio.webp) no-repeat 50% 50%/cover

  +mq(minLarge)
    min-height: rem(800)

  .profile
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: rem(27)
    position: relative

    +mq(minLarge)
      gap: rem(77)

    button, a
      background-color: transparent
      display: flex
      align-items: flex-end
      gap: rem(7)
      transition: all .4s cubic-bezier(.4,0,.2,1)

      +mq(minLarge)
        gap: rem(27)

      span
        +screen-reader-only

      i
        display: block

      +mq(minLarge)
        i:nth-of-type(1)
          opacity: .5
          transition: all .4s cubic-bezier(.4,0,.2,1)

        i:nth-of-type(2)
          opacity: 0
          width: 0
          transition: all .4s cubic-bezier(.4,0,.2,1)

        &:hover, &:focus
          i
            opacity: 1

    +mq(minLarge)
      button
        &:hover, &:focus
          i:nth-of-type(2)
            width: rem(289)

      a
        &:hover, &:focus
          i:nth-of-type(2)
            width: rem(162)

.preview
  background-color: $hex-dark
  padding: rem(107) rem(15) 0
  overflow: hidden
  position: relative

  +mq(minLarge)
    padding: rem(107) rem(50) 0
    max-height: 100dvh

  .content
    display: flex
    flex-direction: column
    +col
    position: relative
    overflow: hidden
    background-color: $hex-night
    border-radius: rem(20) rem(20) 0 0

    h2
      position: relative
      z-index: 1
      display: inline-block
      padding: rem(15) 0
      font-size: rem(24)
      font-weight: 900
      color: $hex-white
      line-height: 1

      +mq(minLarge)
        padding: vh(25, 1030) 0
        font-size: vh(96, 1030)

      span
        backdrop-filter: blur(rem(20))
        background-color: $rgba-black20
        border-radius: 0 rem(20) rem(20) 0
        display: inline-flex
        gap: rem(7)
        padding: rem(15) rem(15)

        +mq(minLarge)
          gap: vh(17, 1030)
          padding: vh(25, 1030) vh(50, 1030)

      i
        display: inline-block
        margin-left: rem(17)
        width: rem(20)
        height: rem(20)

        +mq(minLarge)
          width: vh(64, 1030)
          height: auto
          aspect-ratio: 64 / 64

    p
      padding-bottom: rem(55)
      padding-left: rem(15)
      font-size: rem(20)
      font-weight: 700
      line-height: 1
      color: $hex-daylight

      +mq(minLarge)
        padding-left: vh(50, 1030)
        font-size: vh(36, 1030)

    .images
      display: flex
      width: 100%

      +mq(maxMedium)
        flex-direction: column
        gap: rem(25)
        margin-top: rem(50)

      img
        width: 100%
        height: auto

        +mq(maxMedium)
          margin: 0 auto
          max-width: rem(400)

        +mq(minLarge)
          +col
